{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 150,
    "tabWidth": 2,
    "endOfLine": "auto",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "embeddedLanguageFormatting": "auto"
  }